.employees-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width:100%
  }
  
  .employee-card {
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%
  }
  
  .workerDetails {
    display: flex;
    align-items: center;
  }
  
  .workerImg {
    border-radius: 50%;
    border-radius: 12px;
    margin: 2%;
    height: 10vw;
    width: 7vw;
  }
  
  .workerInfo {
    display: flex;
    flex-direction: column;
  }
  
  .workerName {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .workerMeta {
    color: #555;
    font-size: 0.9em;
  }
  
  .workerMeta .workerPosition {
    font-style: italic;
  }